.bookshelf {
    padding: 0 10px 20px;
  }
  
  @media (min-width: 600px) {
    .bookshelf {
      padding: 0 20px 40px;
    }
  }

  .book {
    width: 140px;
  }
  .book-title,
  .book-authors {
    font-size: 0.8em;
  }
  .book-title {
    margin-top: 10px;
  }
  .book-authors {
    color: #999;
  }
  
  .book-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }